@CHARSET "ISO-8859-1";
.add-product{
	width: 15cm;
	background-color: white;
	border-radius:25px 25px;
	margin-left: auto;
	margin-right: auto;
	padding: .3cm;
}
.product-entry-header{
    margin: auto;
}
.product-entry-header > .header-name{
    text-align: center;
    font-size: .8cm;
    color: blue;
}
.product-entry-header > .header-action{
    text-align: center;
    font-size: .6cm;
}
.form-group{
    margin-top: 10px;
    width: 98%;
}
.form-display{
    margin-left: auto;
    margin-right: auto;
}
.file {
  visibility: hidden;
  position: absolute;
}
.check-gender{
	text-align: center;
}

.error{
	font-size:16px;
    color: red;
}
.message{
	font-size:16px;
	color: green
}


.women{
	display: none;
	
}


.fit-div{
	display: none;
	
}
.stitched-div{
	display: none;
	
}
.sizes-div{
	display: none;
	
}
.color-div{
	display: block;
}