@CHARSET "ISO-8859-1";
.header{
    margin: auto;
}
.header-name{
    text-align: center;
    font-size: .8cm;
    color: blue;
}
.header-action{
    text-align: center;
    font-size: .6cm;
}
.form-group{
    margin-top: 10px;
    width: 98%;
}
.form-display{
    margin-left: auto;
    margin-right: auto;
}