
.container{
	margin-top: 1.4cm;
	background: black;
	width: 100%;
}
.menu-items{
	width:100%;
}
.menu-items > li{
	list-style: none;
	float: left;
	width: 6cm;
	margin-left: .2cm;
	margin-right: .2cm;
	
}
.menu-items > li > a{
	font-size: 16px;	
	width: 7cm;
	text-align: center;	
	display: block;
	padding: .2cm;
	
	
}
.menu-items > li > a:hover,
.menu-items > li > a:focus{
	height:100%;
	background-color:#dddddd;
	text-decoration: none;
}

.action-block{
	border-top: 1px solid white;
	width:100%;
	
	background-color: #dddddd;
	padding-top: 1cm;
	padding-bottom: 1cm;
}
.action-block > .action-container{
	background-color: #dddddd;
	width:30cm;	
	border-radius:25px 25px;
	margin-left: auto;
	margin-right: auto;
}
.action-block > .action-container > .action-display{
	padding: .2cm;	
}
